#products-container
  - @products.each do |product|
    -#this will be moved to a presenter soon :)
    %ul.featured-product
      %li
        = picture_for product
        %span.product-name= product.name
        %span.featured-price
          %strong= number_to_currency(product.price)
        %br
        %span{ class: "small button details" } DETAILS

