%h1
  Hello 
  = @user_name
  ,

%h2 This is is a notification from the e-commerce app,
%h3 a product in your current active shopping cart has changed its price
%h4
  %strong Details:

%p
  %strong 
    = @product
  has changed its price since you added it to your Cart, please review it.
