#home-banner-wrapper
  #home-banner
    #home-banner-content
      %h2.title Jose Estrella Industries Shop
      %p This is the best Place to find Top Notch Furniture and more.
      = link_to "View our Catalog", catalog_path, class: "large button main"
    #home-banner-image
      = image_tag "home-banner-img.png"
