.single-product
  %ul.thumbnails
    %li.span3
      .thumbnail
        = picture_for(product)
        .caption
          %h4= product.name
          %br
          %p
            = link_to "Details", admin_product_path(product), class: "btn btn-primary"
            = link_to admin_product_path(product), class: "btn btn-danger", method: :delete, 
            data: { confirm: "Are you sure?" } do
              %i{ class: "icon-trash icon-white" }
              Delete

