.titles
  %h2 Available Products
%br

= render @products
= will_paginate @products

.controls_
  %form.form-horizontal
    %fieldset
      .form-actions
        = link_to "Add Product", new_admin_product_path, class: "btn btn-info"
        = link_to "Cancel", admin_path, class: "btn btn-warning"
