body {
  background: #fff;
  color: #000;
}

#content {
  position: relative;
  width: 815px;
  top: 55px;
  padding: 8px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.single-product {
  float: left;
  .thumbnails .span3 .thumbnail {
    min-height: 250px;
  }
}

.one-product {
  padding: 20px;
}

.caption {
  text-align: center;
}

.titles {
  text-align: center;
}

.controls_ {
  position: relative;
  top: 15px;
  display: block;
  clear: both;
}

.form-part {
  float: left;
  width: 49%;
}

form label {
  display: inline;
  margin-right: 15px;
  margin-left: 5px;
}

#twitter-notice {
  position: absolute;
  top: 4px;
  width: 100%;
  height: 48px;
  z-index: 11;

  p {
    text-align: center;
  }
}

.many_buttons {
  margin: 12px 0px 5px 0px;
  input {
    float: left;
    margin-right: 10px;
  }
}

form span {
  display: block;
}

.pagination em {
  float: left;
  padding: 8px;
  border: 1px solid #ddd;
}

.pagination span {
  float: left;
  padding: 7px;
}

