#products-container {
  height: auto;
  width: 720px;
  margin: 0 auto;
  overflow: hidden;
}

.notice, .alert {
  position: absolute;
  width: 100%;
  height: 25px;
  top: 40px;
  left: 0px;
  //display: none;
  text-align: center;
  background: #b1f7ce;
  color: #000;
  font-weight: bold;
  padding: 5px;
}

#users-bar {
  position: fixed;
  width: 100%;
  height: 35px;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 10;
  overflow: hidden;
  
  #user-commands {
    float: right;
    margin-right: 20%;
    margin-top: 7px;
  
    .user-link {
      float: right;
      color: #fff;
      margin-right: 10px; 
    }

    .separate {
      margin-left: 10px;
    }

  }

}

#forms-content {
  width: 65%;
  margin: 80px auto;
    
    #one-form {
      width: 270px;
      margin: 0 auto;
    }

}


form input[type=submit] {
  width: 90px;
  height: 30px;
}
