body {
  background: white url(asset-path("body-bg.jpg", image));
}

#products-container {
  height: auto;
  width: 720px;
  margin: 0 auto;
  overflow: hidden;

  h4 {
    font-style: italic;
  }  

}

.pagination {
  float: left;
  clear: both;
  top: 15px;
  margin: 12px 0px 0px 5px;
}

.notice, .alert {
  position: absolute;
  width: 100%;
  height: 25px;
  top: 40px;
  left: 0px;
  text-align: center;
  background: #b1f7ce;
  color: #000;
  font-weight: bold;
  padding: 5px;
}

#users-bar {
  position: fixed;
  width: 100%;
  height: 35px;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 10;
  overflow: hidden;
  
  #user-commands {
    float: right;
    margin-right: 20%;
    margin-top: 7px;
  
    .user-link {
      float: right;
      color: #fff;
      margin-right: 10px; 
    }

    .separate {
      margin-left: 10px;
    }

  }

}

#forms-content {
  width: 65%;
  margin: 80px auto;
    
    #one-form {
      width: 270px;
      margin: 0 auto;
    }
}


form {
  input[type=submit] {
    width: 90px;
    height: 30px;
  }

  label {
    color: #fff;
  }

  img {
    padding: 6px;
    border: 1px solid #5c5c5c;
    margin-bottom: 7px;
  }

  #user_avatar {
    color: #fff;  
  }

}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

.help-block, .happiness {
  color: #bdbdbd;
}

.linked {
  color: #33bbff;

  &:hover {
    color: #05acff;
  }

}

#user-commands {
  color: #fff;
  a {
    color: #fe472f; 
  }
}

.search-title {
  margin-left: 12%;
  float: left;
}

#categories {
  padding: 20px;

  a {
    font-size: 150%;
  }
}

