.categorized {
  font-weight: bold;
  padding: 5px;
  color: #fff;
}

.brown {
  background: #5c3317;
}

.grey {
  background: #68676f;
}

.blue {
  background: #4265ff;
}

.white {
  background: #fff;
  color: #000;
}

.red {
  background: #bd0048;
}
