%ul.featured-product
  %li
    = link_to(picture_for(product), product_path(product) )
    %span.product-name= product.name
    %span.featured-price
      %strong= number_to_currency(product.price)
    %br
    = link_to "DETAILS", product_path(product), class: "small button details"
